@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

body {
  margin: 0;
  font-family: "Spline Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;
  color: inherit;
  padding: 0.25rem 0.5rem;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  border: none;
  width: fit-content;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
}

input {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border-bottom: solid 0.25rem transparent;
}

textarea {
  background-color: inherit;
  color: inherit;
  height: 20rem;
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  white-space: pre-line;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
  border-bottom: solid 0.25rem;
}

textarea:focus {
  outline: none;
}

.dark {
  background-color: #262726;
  color: #f8f4e3;
}

.light {
  background-color: #f8f4e3;
  color: #262726;
}

.green {
  background-color: rgba(86, 193, 140, 0.4);
}

.green:hover {
  background-color: rgba(86, 193, 140, 0.8);
}

.red {
  background-color: rgba(255, 90, 95, 0.4);
}

.red:hover {
  background-color: rgba(255, 90, 95, 0.8);
}

.grey {
  background-color: rgba(112, 108, 87, 0.4);
}

.grey-flat {
  background-color: rgba(112, 108, 97, 0.4);
}

.grey:hover {
  background-color: rgba(112, 108, 87, 0.8);
}

.blue-active {
  background-color: rgba(126, 189, 194, 0.7);
}

.blue {
  background-color: rgba(126, 189, 194, 0.4);
}

.blue:hover {
  background-color: rgba(126, 189, 194, 0.8);
}

.blue.hover {
  background-color: transparent;
}

.blue.hover:hover {
  background-color: rgba(126, 189, 194, 0.8);
}

.orange {
  background-color: rgba(250, 131, 33, 0.4);
}

.orange:hover {
  background-color: rgba(250, 131, 33, 0.8);
}
