.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.auth-window {
  place-self: center;
  display: grid;
  place-items: center start;
  gap: 2rem;
}

.home {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}


.events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 2rem;
  font-size: 1.5rem;
  height: fit-content;
}

.base-event {
  border-radius: 0.25rem;
  padding: 1rem;
  cursor: pointer;
  transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}


.base-event:hover {
  box-shadow: rgba(86, 193, 140, 0.2) 0px 7px 29px 0px;
}

.dark-icon {
  opacity: 0.75;
  transition: opacity 250ms;
}

.dark-icon:hover {
  opacity: 1;
}



.admin {
  display: grid;
  gap: 2rem;
  grid-template-rows: auto 1fr;
}

.coin {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: gold;
  font-size: 2rem;
}

.coin-inner {
  display: grid;
  place-items: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  background-color: #C1C1C1;
  color: black;
}

.coin.flipping {
  animation: flip 250ms linear infinite;
}

.rise {
  animation: rise 2s ease;
}

.case-title {
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stage {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 9fr;
}

.stage-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  place-items: center;
  padding-left: 1rem;
}

.timer-container {
  display: grid;
  gap: 2rem;
  width: 100%;
  place-items: center;
}

.case-overview {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.text-case {
  white-space: pre-line;
  font-size: 1.75rem;
  padding-right: 1rem;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.spinner {
  place-self: center;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: spinner 1.1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rise {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
